@model video_streamming_proxy.Controllers.Manager.ProductRequest
@using video_streamming_proxy.Domain

@{
    Layout = "_Manager";
}
@{
    Course course = ViewBag.Course; 
}

<!DOCTYPE html>
<div class="flex flex-nowrap">
    
    <form action="/manager/products/@course.Id/prices" enctype="multipart/form-data" method="POST">
        
        <h3 class="mb-5 font-bold">Preços Atuais</h3>
        <table class="table" width="100%">
            <thead>
            <tr>
                <th>Plano</th>
                <th>Moeda</th>
                <th>Valor</th>
                <th>Adicionado em</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var price in course.GetAvailablePrices())
            {
                <tr>
                    <td>@price.Plan</td>
                    <td>@price.Currency</td>
                    <td>@price.Amount</td>
                    <td>@price.CreatedAt</td>
                </tr>
            }
            </tbody>
        </table>
    
        <br /><br />
        <h3 class="mb-5 font-bold">Definir novo preço</h3>
        <div class="mb-3">
            Plano<br/>
            <div class="select">
                <select name="plan" class="border-2" placeholder="Plano">
                    <option value="Monthly">Mensal</option>
                    <option value="Quarterly">Trimestral</option>
                    <option value="Semianual">Semestral</option>
                    <option value="Yearly">Anual</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="border-2 p-2" name="price" size="60" placeholder="Novo Preço" id="price"/>
        </div>
        <div >
            <button type="submit" class="p-2 bg-sky-900 text-white">Salvar</button>
            <button type="button" onClick='window.location="/manager/products/@course.Id/sections"' class="p-2 bg-gray-900 text-white">Cancelar</button>
        </div>
    </form>
</div>