@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
}
<!DOCTYPE html>
@{
    Course course = ViewBag.Detail;
}
<section class="section">
    <form action="/user/courses/@course.Slug/purchase" method="POST">
    <input type="hidden" name="courseId" value="@course.Id" />
    <div class="w-full">
        <h1 class="is-size-2">@course.Name</h1>
        <br />
        
        <p class="is-size-3">@course.Description</p>
        <div class="notification is-primary">
            <h2>Parabens! Você comprou o curso @course.Name . Ele já se encontra disponivel na sua área de cursos.</h2>                
        </div>
        <div class="mt-10">
            <a href="/user/courses/@course.Id" class="button is-outline is-primary">Ir para cursos</a>
        </div>
        
        
        
        
    </div>
    </form>
</section>
