@page

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Content</title>
</head>
<body>
<div>
    Content
    <br>  
    <a href="/Home/Videos?vname=test1">Videos</a>
    <br>
    <a href="/Upload">Upload</a>

</div>
</body>
</html>