@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
    
}

<!DOCTYPE html>
@{
    Course[] data = ViewBag.Courses;
}


<article class="media">
    
        @foreach (var course in data) 
        { 

            <div class="card">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="@course.GetThumbnailImage()" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        
                        <div class="media-content">
                            <p class="title is-4">@course.Name</p>
                            <p class="subtitle is-6">R$ @course.Amount</p>
                        </div>
                    </div>

                    <div class="content">
                        <p class="is-size-6">@course.Description</p>
                        
                        <div style="margin-top:20px">
                            <a href="/user/courses/@course.Slug/purchase" class="button is-outlined is-primary">
                                Comprar
                            </a>
                            <a href="/courses/@course.Slug" class="button is-light">Ver mais</a>
                        </div>
                    </div>
                </div>
            </div>
        
        }
</div>   
</article>
