@{
    var userId = User.Identity.IsAuthenticated ? User.Claims.Where(x => x.Type == "id").FirstOrDefault().Value : null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/hls.js@canary"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <title>Home</title>
    </head>   
    <body>
        <section class="section">
            <div class="container is-fluid">
            <nav class="level">
                <p class="level-item has-text-centered">
                    <a class="link is-info" href="/home/content">Home</a>
                </p>
                <p class="level-item has-text-centered">
                    <a class="link is-info" href="/courses">Cursos</a>
                </p>
                <p class="level-item has-text-centered">
                    <img src="https://loja.seca30.com/wp-content/uploads/2022/06/icone-300x282.png" alt="" style="height: 80px;">
                </p>
                
                @if ((User.Identity.IsAuthenticated))
                {
                    <p class="level-item has-text-centered">
                        <a class="link is-info" href="/user/courses">Meus Cursos</a>
                    </p>
                    
                    <p class="level-item has-text-centered">
                        <a class="link is-info" href="/user/profile" >Meu Perfil</a>
                    </p>
                }  else 
                {
                    <p class="level-item has-text-centered">
                        <a class="link is-info" href="/signup">Cadastre-se</a>
                    </p>
                    
                    <p class="level-item has-text-centered">
                        <a class="link is-info" href="/auth" >Acessar</a>
                    </p>
                }
                
            </nav>
            @RenderBody()
            
        </div>
        </section>
        
        
        <!-- body -->
        <script src="~/assets/js/index.js"></script>
        </div>
    </body>
</html>
