@page
@using video_streamming_proxy.Domain

@{
    Layout = "_Main";
}

<!DOCTYPE html>
@{
    Course[] data = ViewBag.Courses; 
    var userId = User.Identity.IsAuthenticated ? User.Claims.Where(x => x.Type == "id").FirstOrDefault().Value : null;
}

<div class="bg-light-gray h-full px-6">
    <div class="container mx-auto">
        <h1 class="text-xl font-semibold dark-gray mb-6 lg:py-10 py-8">Cursos Adquiridos</h1>
        <div class="flex flex-wrap items-center lg:justify-between justify-center">
        
                @foreach (var course in data) 
                { 
                <a href="/courses/user/@userId/course/@course.Id">
                <div class="mx-2 w-72 xl:mb-0 mb-8">
                    <div>
                        <img src="https://cdn.tuk.dev/assets/templates/classified/Bitmap (1).png" class="w-full h-44" />
                    </div>
                    <div class="bg-white">
                        
                        <div class="p-4">
                            <div class="flex items-center">
                                <h2 class="text-lg font-semibold dark-gray">@course.Name</h2>                                
                            </div>
                            <p class="text-xs light-gray mt-2">@course.Description</p>
                            <div class="flex mt-4">
                                <div>
                                    <p class="text-xs light-gray px-2 bg-dark-gray py-1">12 months warranty</p>
                                </div>
                                <div class="pl-2">
                                    <p class="text-xs light-gray px-2 bg-dark-gray py-1">Complete box</p>
                                </div>
                            </div>
                            <div class="flex items-center justify-between py-4">                                
                            </div>
                        </div>
                    </div>
                </div>
                </a>
                }
        </div>   
    </div>
</div>
